@use './colors.scss' as *;

body.minesweeper {
  > main {
    margin: 0;
    padding: 0;
    * {
      margin: 0;
      padding: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > #minesweeper {
      .settings {
        border: 1px solid $bg-color-dark;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > h2 {
          text-transform: uppercase;
        }

        > ul {
          margin-top: 30px;
          font-size: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          list-style: none;
          gap: 10px;

          > li {
            border: 1px solid $bg-color-dark;
            text-align: center;
            padding: 10px 25px;
            width: 70px;
            cursor: pointer;

            &:first-of-type {
              background-color: $bg-color-dark;
              color: $text-color-light;
            }
          }

          &.mine-options-16x16,
          &.mine-options-16x30,
          &.mine-options-20x30 {
            display: none;
          }
        }

        > button {
          margin-top: 50px;
          text-transform: uppercase;
          font-size: 25px;
          padding: 15px;
          cursor: pointer;
        }
      }

      .game {
        display: none;

        > .board {
          background-color: #1b71c8;
          padding: 5px;
          border-radius: 5px;

          > div {
            background-color: #e3ecf6;
            border-radius: 2px;
            box-shadow: inset 0 -2px 4px #1b71c89c;
          }
        }
      }
    }
  }
}
